<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <!--remixicons CDN link-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="shortcut icon" href="../ImgHS/shark.png">
    <script src="/JS/index.js"></script>
</head>

<body>
    <form id="login">
    <div class="container">
        <div class="design">
            <div class="pill-1 rotate-45"></div>
            <div class="pill-2 rotate-45"></div>
            <div class="pill-3 rotate-45"></div>
            <div class="pill-4 rotate-45"></div>
        </div>
            <div   class="login">
            <h3 class="title">Iniciar Sesión</h3>
            <div class="text-input">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-square"><rect width="18" height="18" x="3" y="3" rx="2"/><circle cx="12" cy="10" r="3"/><path d="M7 21v-2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2"/></svg>
                <input id="user" type="text" placeholder="Boleta" required>
            </div>
            <div class="text-input">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-lock"><rect width="18" height="11" x="3" y="11" rx="2" ry="2"/><path d="M7 11V7a5 5 0 0 1 10 0v4"/></svg>
                <input id="pasword" type="password" placeholder="Contraseña" spellcheck="false" required>
                <!--<i class="ri-eye-line"></i>--><i class="ri-eye-off-line toggle"></i>
            </div>
            <button class="login-btn">INGRESAR</button>
            <div class="create">
                <a href="./CreaUser.html">Crear una cuenta</a>
                <i class="ri-arrow-right-fill"></i>
            </div>
            </div>
    </div>
    </form>
    <script>
    const toggle = document.querySelector(".toggle"),
            input = document.querySelector("#pasword");
            toggle.addEventListener("click", ()=>{
                if(input.type=="password"){
                    input.type = "text";
                    toggle.classList.replace("ri-eye-off-line","ri-eye-line");
                }else{
                    input.type="password";
                    toggle.classList.replace("ri-eye-line","ri-eye-off-line");
                }
            })
    </script>
</body>

</html>